<div class="opd-header-wrapper">
    <!--<bm-back-links></bm-back-links>-->
    <!--<div class="fr">-->
    <!--<div class="retro-date-widget-wrapper"-->
    <!--show-if-privilege="{{retrospectivePrivilege}},{{onBehalfOfPrivilege}},{{locationPickerPrivilege}}"-->
    <!--ng-if="getTitle()">-->
    <!--<div class="retro-date-widget-header fr">-->
    <!--<button ng-click="popUpHandler()">{{ getTitle() | translate }}</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ui-view="additional-header"></div>-->

    <div class="opd-header-bottom tabs">
        <a class="back-btn" style="margin-top: 15px;padding: 4px 10px 5px;height: 28px; border: none;background: none;"
           accesskey="h" href="../home/index.html" ng-click="onHomeNavigate($event)">
            <i class="fa fa-home"
               style="line-height:1; font-size: 15px; margin-right:5px; font-weight: 700;"></i>Home</a>

        <a class="back-btn" style="margin-top: 15px;padding: 4px 10px 5px;height: 28px; border: none;background: none;"
           accesskey="r" href="../registration/index.html" ng-click="onHomeNavigate($event)">
            <i class="fa fa-search" style="line-height:1; font-size: 15px; margin-right:5px;font-weight: 700;"></i>Search</a>

        <a class="back-btn" style="margin-top: 15px;padding: 4px 10px 5px;height: 28px; border: none;background: none;"
           accesskey="r" href="../registration/index.html#/patient/new" ng-click="onHomeNavigate($event)">
            <i class="fa fa-user" style="line-height:1; font-size: 15px; margin-right:5px; font-weight: 700;"></i>Create
            New Patient</a>
        <a class="back-btn dashboard-link" id="dashboard-link"
           ng-href="../clinical/#/default/patient/{{patient.uuid}}/dashboard" title="Back to patient dashboard">
            <img class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
            <span class="patient-info">
                <span class="patient-name">{{patient.name}} </span>
                <span class="patient-id">{{patient.identifier}}</span>
            </span>
        </a>
        <div class="fr">
            <button class="btn-user-info fr">
                <i class="fa fa-user-md fa-white small"></i>
                <i class="fa fa-caret-down fa-white mini"></i>
            </button>
            <ul>
                <li>
                    <i class="fa fa-user fa-white small"></i><span>{{:: currentUser.username}}</span>
                </li>
                <li>
                    <i class="fa fa-map-marker fa-white small"></i><span>{{:: currentUser.currentLocation | translate}}</span>
                </li>
                <li>
                    <a log-out><i class="fa fa-power-off fa-white small"></i><span
                            class="nav-link">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
