<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #dedede;
    }

    table td, table th {
        padding: 5px 0px 5px 8px;
        border: none;
    }

    table tr {
        border: 0;
        border: none;
    }

    .form .form-field .field-attribute label, form .form-field .field-attribute label {
        width: 10em;
        float: left;
        text-align: right;
        margin: .7em .8em 0 0;
    }

    }

    .click-to-edit {
        display: inline-block;
    }

    .glyphicon.spinning {
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

</style>

<div class="reg-body-wrapper">
    <div class="simple-form-ui new-patient" ng-if="money">
        <form name="myForm" class="form-horizontal well" single-submit="create()">
            <div class="box-container box-container-default">
                <div class="box-container box-container-patient-info patient-common-info-container">
                    <div class="form-field form-field-gender">
                        <section class="form-field form-field-gender">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left;">
                                <tr>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Clinic Name </label>
                                            </div>

                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">


                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.orgUnit" type="hidden"/>
                                                    <input ng-model="patientInfo.clinicName" type="text" readonly/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Clinic Id</label>
                                            </div>


                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.clinicCode" type="text" readonly/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Slip No<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.slipNo" type="text" ng-required="true"
                                                           autofocus ng-readonly="makeSlipNoReadOnly"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>


                                </tr>


                                <tr>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Date<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input id="txtDate" ng-model="patientInfo.moneyReceiptDate"
                                                           type="text" ng-required="true"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>


                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Service Point<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <select ng-model="patientInfo.servicePoint"
                                                            ng-options="servicePoint.name as servicePoint.name for servicePoint in servicePoints"
                                                            ng-change="onChangedPateintInfo(patientInfo.servicePoint)"
                                                            ng-required="true">
                                                    </select>
                                                </div>
                                            </div>
                                        </article>
                                    </td>


                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Satellite Clinic Id</label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.sateliteClinicId" type="text"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.servicePoint=='CSP'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>CSP ID <span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.servicePoint=='CSP'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.cspId" type="text"
                                                           ng-required="patientInfo.servicePoint=='CSP'"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                </tr>


                                <tr>
                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Team No</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.teamNo" type="text"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>


                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Session<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.servicePoint=='Satellite'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <select ng-model="patientInfo.session"
                                                            ng-options=" session.name as session.name for session in sessions"
                                                            ng-required="patientInfo.servicePoint=='Satellite'">

                                                    </select>

                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td ng-show="patientInfo.session=='Others'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Other's Session Name<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.session=='Others'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.other" type="text"
                                                           ng-required="patientInfo.session=='Others'"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>


                                </tr>

                                <tr>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Reference<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <select ng-model="patientInfo.reference"
                                                            ng-options=" reference.name as reference.name for reference in references"
                                                            ng-required="true">

                                                    </select>
                                                </div>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.reference=='External' || patientInfo.reference =='CSP'">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>{{patientInfo.reference}} Id</label>
                                            </div>
                                        </article>
                                    </td>
                                    <td ng-show="patientInfo.reference=='External' || patientInfo.reference =='CSP'">
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <input ng-model="patientInfo.referenceId" type="text"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Data Collector<span class="asterick">*</span></label>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <select ng-model="patientInfo.dataCollector"
                                                            ng-options="dataCollector as dataCollector.userRole for dataCollector in dataCollectorList"
                                                            ng-required="true">

                                                    </select>
                                                </div>
                                            </div>
                                        </article>
                                    </td>
                                </tr>

                            </table>
                        </section>
                    </div>
                </div>
            </div>

            <div class="box-container box-container-default" id="serviceSection">
                <div class="box-container box-container-patient-info patient-common-info-container">
                    <div class="form-field form-field-gender">
                        <section class="form-field form-field-gender">
                            <table id="addItemTable" width="100%" border="0" cellpadding="0" cellspacing="0"
                                   align="left;">
                                <tr data-ng-repeat="service in services track by $index">
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Code<span class="asterick">*</span></label>

                                                    <input type="text" ng-model="service.code" placeholder="Select code"
                                                           typeahead-on-select="onChangedForCode(service.code, $index)"
                                                           uib-typeahead="itm as itm.code for itm in serviceList | orderBy:'code' | filter:{code:$viewValue}"
                                                           typeahead-min-length="0" typeahead-no-results="noCodeFound">

                                                </div>
                                            </div>
                                        </article>
                                        <span style="opacity: 0.5" ng-show="noCodeFound">No results found</span>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Service<span class="asterick">*</span></label>

                                                    <!--<select  ng-model="service.item" ng-change="onChanged(service.item, $index)"-->
                                                    <!--ng-options="itm as itm.name for itm in serviceList | orderBy:'name'" ng-required="true">-->
                                                    <!--</select>-->
                                                    <input type="text" ng-model="service.item"
                                                           placeholder="Select service"
                                                           typeahead-on-select="onChanged(service.item, $index)"
                                                           uib-typeahead="itm as itm.name for itm in serviceList | orderBy:'name' | filter:{name:$viewValue}"
                                                           typeahead-min-length="0" typeahead-no-results="noResults">

                                                </div>
                                            </div>
                                        </article>
                                        <span style="opacity: 0.5" ng-show="noResults">No results found</span>
                                    </td>
                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Description</label>
                                                    <input ng-model="service.description" style="width: 10em;"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Unit Cost<span class="asterick">*</span></label>
                                                    <input ng-model="service.unitCost" style="width: 5em;" type="number"
                                                           step="any" ng-required="true" readonly/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Quantity<span class="asterick">*</span></label>
                                                    <input ng-model="service.quantity"
                                                           ng-change="calculateTotalAmountAndNetPayable(service.quantity,$index)"
                                                           style="width: 4em;" type="number" min="1"
                                                           ng-required="true"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Total Amount<span class="asterick">*</span></label>
                                                    <input ng-model="service.totalAmount" style="width: 6em;"
                                                           type="text" ng-required="true" readonly/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Discount<span class="asterick">*</span></label>
                                                    <input ng-model="service.discount"
                                                           ng-change="calculateNetAmount(service.discount,$index)"
                                                           style="width: 5em;" type="number" min="0"
                                                           ng-required="true"/>
                                                </div>
                                            </div>
                                        </article>
                                    </td>

                                    <td>
                                        <article class="form-field">
                                            <div class="field-value">
                                                <div class="field-value">
                                                    <label>Net Payable Amount<span class="asterick">*</span></label>
                                                    <input ng-model="service.netPayable" style="width: 9em;" type="text"
                                                           ng-required="true" readonly/>
                                                </div>
                                            </div>
                                        </article>

                                    </td>
                                    <td>
                                        <button class="remove" ng-show="!$first" ng-click="removeThis($index)">X
                                        </button>
                                        <span><button class="remove" ng-show="$last"
                                                      ng-click="addNewChoice()">+</button></span>

                                    </td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </div>


        </form>

    </div>
</div>
<!--{{services}}
{{patientInfo}}-->
<!--{{patient}}-->

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" id="moneyReceipt" ng-show="money">
    <tr class="displayNone">
        <td align="left" valign="top"><img src="./../images/logo.jpg" width="162" height="228"/></td>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="displayNone">
                    <td colspan="10"><img src="./../images/banner.jpg" width="696" height="146"/></td>
                </tr>
                <tr class="displayNone">
                    <td><img src="./../images/blank.png" width="40" height="1"/></td>
                    <td><strong>Type:</strong></td>
                    <td align="right">Static</td>
                    <td><input name="" type="checkbox" ng-checked="checkedBox('Static',patientInfo.servicePoint)"/></td>
                    <td align="right">Satellite</td>
                    <td><input name="" type="checkbox" ng-checked="checkedBox('Satellite',patientInfo.servicePoint)"/>
                    </td>
                    <td align="right">CSP</td>
                    <td><input name="" type="checkbox" ng-checked="checkedBox('CSP',patientInfo.servicePoint)"/></td>
                    <td align="right">Slip No.</td>
                    <td align="center" valign="middle" ng-bind="patientInfo.slipNo"></td>

                </tr>
                <tr class="displayNone">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right">Date:</td>
                    <td align="center" valign="middle" ng-bind="patientInfo.moneyReceiptDate | date:'dd/MM/yyyy'"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="displayNone">
        <td align="left" valign="top">UIC</td>
        <td>{{patient.UIC.value}}</td>

    </tr>
    <tr class="displayNone">
        <td colspan="2" align="left" valign="top"><img src="./../images/blank.png" width="100%" height="20"/></td>
    </tr>
    <tr class="displayNone">
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666;">
                <tr>
                    <td align="left" style="border-bottom: 1px solid #666; padding:10px 10px 10px 8px;"><strong>Clinic
                        Name:</strong></td>
                    <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"
                        ng-bind="patientInfo.clinicName"></td>
                    <td align="left" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Clinic
                        ID</strong></td>
                    <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{patient.ClinicCode.value}}
                    </td>
                    <td align="left" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Satellite
                        Clinic ID</strong></td>
                    <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"
                        ng-bind="patientInfo.sateliteClinicId"></td>
                    <td align="left" style="border-bottom:1px solid #666;"><strong>Team no.</strong></td>
                    <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"
                        ng-bind="patientInfo.teamNo"></td>
                </tr>
                <tr>
                    <td colspan="8">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" colspan="2" valign="top" style="padding:8px;">1. Name:</td>
                                <td valign="top" colspan="2" align="left" valign="bottom" style="padding:8px;">
                                    {{patient.name}}
                                </td>
                                <td align="left" valign="top" style="padding:8px;">2. Gender:</td>
                                <td align="left" valign="top" style="padding:8px;"><input name="input" type="checkbox"
                                                                                          ng-checked="checkedBox('M',patient.gender)"/>
                                </td>
                                <td align="left" valign="top" style="padding:8px;">Male</td>
                                <td align="left" valign="top" style="padding:8px;"><input name="input2" type="checkbox"
                                                                                          ng-checked="checkedBox('F',patient.gender)"/>
                                </td>
                                <td align="left" valign="top" style="padding:8px;">Female</td>
                                <td align="left" valign="top" style="padding:8px;"><input name="input3" type="checkbox"
                                                                                          ng-checked="checkedBox('O',patient.gender)"/>
                                </td>
                                <td align="left" valign="top" style="padding:8px;">Others</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="padding:10px 0 5px 8px;">3. DoB</td>
                                <td style="padding:10px 0 5px 8px;">{{patient.birthdate | date:'dd/MM/yyyy'}}</td>
                                <td style="padding:10px 0 5px 8px;">4. Age:</td>
                                <td style="padding:10px 0 5px 8px;">{{htmlToPlaintext(patient.ageText)}}</td>
                                <td style="padding:10px 0 5px 8px;">5. Classification:</td>
                                <td style="padding:10px 0 5px 8px;">1. Able to Pay</td>
                                <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input4" type="checkbox"
                     ng-checked="checkedBox('Able to Pay',patient.FinancialStatus.value.display)"/>
            </span></td>
                                <td style="padding:10px 0 5px 8px;">2. Poor</td>
                                <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input5" type="checkbox"
                     ng-checked="checkedBox('Poor',patient.FinancialStatus.value.display)"/>
            </span></td>
                                <td style="padding:10px 0 5px 8px;">3.PoP</td>
                                <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input6" type="checkbox"
                     ng-checked="checkedBox('PoP',patient.FinancialStatus.value.display)"/>
            </span></td>

                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="top" style="padding:10px 0 5px 8px;">6. Address:
                                </td>
                                <td colspan="6" align="left" valign="top" style="padding:10px 0 5px 8px;">
                                    {{address(patient.address)}}
                                </td>
                                <td align="left" valign="top" style="padding:10px 0 5px 8px;">7. Mobile No.</td>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">
                                    {{patient.MobileNo.value}}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">8. Session:
                                </td>
                                <td align="left" valign="top" colspan="9" style="padding:10px 0 5px 8px;"
                                    ng-bind="patientInfo.session"></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">9.
                                    Reference:
                                </td>
                                <td align="left" valign="top" colspan="9" style="padding:10px 0 5px 8px;">
                                    {{patientInfo.reference}} {{referenceId(patientInfo.reference,
                                    patientInfo.referenceId)}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" valign="top" style="padding:10px 0 5px 8px;">10. Birth
                                    District
                                </td>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">
                                    {{patient.birthDistrict.value}}
                                </td>
                                <td align="left" valign="top" style="padding:10px 0 5px 8px;">11. Birth Upazila:</td>
                                <td align="left" valign="top" colspan="6" style="padding:10px 0 5px 8px;">
                                    {{patient.birthUpazilla.value}}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="2" align="left" valign="top"
                                    style="padding:10px 0 20px 8px;">12. Birth Rank:
                                </td>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">
                                    {{patient.birthRank.value}}
                                </td>
                                <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">13. Birth
                                    Mother's First Name:
                                </td>
                                <td align="left" valign="top" colspan="5" style="padding:10px 0 5px 8px;">
                                    {{patient.birthMothersFirstName.value}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="displayNone">
        <td colspan="2" align="left" valign="top" style="padding:20px 0 20px 8px;">14. Service and Payable Amount</td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666;">
                <tr>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>SL</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Service Code (A)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Service/Medicine/ Others (B)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Quantity (C)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Unit Cost (D)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Total Amount (E)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        <strong>Discount (F)</strong></td>
                    <td align="center" valign="top" bgcolor="#CCCCCC"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666;"><strong>Net Payable Amount
                        (G)</strong></td>
                </tr>
                <tr ng-repeat="service in services track by $index">
                    <td align="left" valign="top"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{$index+1}}
                    </td>
                    <td align="left" valign="top"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.item.code}}
                    </td>
                    <td align="left" valign="top"
                        style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.item.name}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.quantity}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.unitCost}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.totalAmount}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.discount}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">
                        {{service.netPayable}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="right" valign="top"
                        style="padding:10px 10px 10px 0px; border-bottom: 1px solid #666;  border-right:1px solid #666;">
                        <strong>Total Taka</strong></td>
                    <td align="right" valign="top"
                        style="padding:10px 8px 10px 8px; border-bottom: 1px solid #666; border-right:1px solid #666;">
                        &nbsp; {{calTotalAmount()}}
                    </td>
                    <td align="right" valign="top"
                        style="padding:10px 8px 10px 8px; border-bottom: 1px solid #666; border-right:1px solid #666;">
                        &nbsp; {{calTotalDiscount()}}
                    </td>
                    <td align="right" valign="top" style="padding:10px 8px 10px 8px;border-bottom: 1px solid #666;">
                        {{calTotalNetAmount()}}
                    </td>
                </tr>
                <tr>
                    <td colspan="8" align="left" valign="top" style="padding:20px 10px 8px 8px;">In Words :
                        {{inwords(calTotalNetAmount())}}
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr class="displayNone">
        <td colspan="2" align="left" valign="top" style="padding:5px 0 1px 8px;"><img src="image/blank.png" width="1"
                                                                                      height="20"/></td>
    </tr>
    <tr class="displayNone">
        <td colspan="2" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="displayNone">
                    <td align="center" valign="top" style="padding:4px 0 5px 8px;">
                        {{patientInfo.dataCollector.username}}
                    </td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="center" valign="top" style="padding:4px 0 5px 8px;">
                        {{patientInfo.dataCollector.designation}}
                    </td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="center" valign="top" style="padding:4px 0 5px 8px;"></td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                </tr>
                <tr class="displayNone">
                    <td align="center" valign="top" style="padding:4px 0 5px 8px; border-top:1px solid #666;">Name of
                        data collector
                    </td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="center" valign="top" style="padding:4px 0 5px 8px; border-top:1px solid #666;">
                        Designation
                    </td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="center" valign="top" style="padding:4px 0 5px 8px; border-top:1px solid #666;">
                        Signature
                    </td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                    <td align="left" valign="top" style="padding:4px 0 5px 8px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="submit-btn-container clearfix" id="buttonPrint" ng-show="money">
    <button style="float: right;margin-top: 10px;margin-right: 5px;" onclick="printMoneyReceipt()">Print</button>
    <button style="margin: 10px 20px 0 0" class="right submit-btn" ng-disabled="myForm.$invalid"
            ng-show="patientInfo.isComplete == 0 || patientInfo.isComplete == undefined"
            ng-click="submitMoneyReceiptData(patientInfo,services,patient,0)" ng-disabled="enable=='false'">
        Save as Draft
    </button>
    <button style="margin: 10px 20px 0 0" class="right submit-btn" ng-disabled="myForm.$invalid"
            ng-click="submitMoneyReceiptData(patientInfo,services,patient,1)" ng-disabled="enable=='false'">
        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
        {{ searchButtonText }}

    </button>

    <a onclick="return confirm('Do you really want to cancel this money receipt?')" style="margin: 18px;"
       href="../clinical/index.html#/default/patient/{{patient.uuid}}/dashboard?currentTab=DASHBOARD_TAB_GENERAL_KEY"
       class="right submit-btn">Cancel</a>
</div>


<div class="concept-set-panel clearfix" ng-if="observationTab">
    <section class="concept-set-panel-right">
        <div style="text-align: center;background-color: #52797a;padding: 1px;color:white"><h4>Service List</h4></div>
        <table style="width:100%;">
            <tr>
                <td ng-repeat="conceptSet in allTemplates track by $index"
                    ng-if="conceptSet.isAvailable(context) && (conceptSet.isAdded || conceptSet.alwaysShow)"
                    ng-class="openActiveForm(conceptSet)">
                    <button ng-style="conceptSet.klass =='active' && {'background':'#51797a','color':'white'}"
                            ng-click="showLeftPanelConceptSet(conceptSet)">
                        <span class="concept-set-name"
                              ng-class="{'concept-set-name-extra':conceptSet.isValid === false}">
                            {{conceptSet.label}}
                            <span ng-if="conceptSet.observations[0].observationDateTime"> ( {{conceptSet.observations[0].observationDateTime|bahmniDate}} )</span>
                        </span>
                    </button>
                </td>
            </tr>
        </table>
    </section>

    <a class="left-panel-toggle" ng-click="toggleSideBar()">
        <i ng-if="!showLeftpanelToggle()" class="fa fa-bars" aria-hidden="true"></i>
        <i ng-if="showLeftpanelToggle()" class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>

    <section class="concept-set-panel-left" ng-class="{'form-menu-toggeled': showLeftpanelToggle()}">

        <div class="concept-set-panel-wrap" assign-height key="contentHeight">
            <div class="multi-select-lab-tests">
                <ul>
                    <!--ng-if="conceptSet.isAvailable(context)  && (conceptSet.isAdded || conceptSet.alwaysShow)"-->
                    <li>
                        <h4><span class="concept-set-name">Vitals</h4>
                                <ul style="padding-left: 5px">
                                    <li>1. Date : {{vitalsObject.observationDateTime | date : "MMM d, y h:mm:ss a"}}</li><br>
                                    <li>2. Height : 5 feet 9 inch</li><br>
                                    <li>3. Weight : 70kg</li><br>
                                    <li>4. Blood Group : B+</li><br>
                                    <li>5. Blood Pressure : 80(Normal)</li><br>
                                    <li>6. Known Allergies : No</li><br>
                                    <li>7. Previous Surgeries : No</li><br>
                                    <li>8. Chronic Conditions/illness : Fever</li><br>
                                    <li>9. Current Regular Medications : No</li><br>
                                    <li>10.LMP Cycles:No</li><br>
                                    <li>11. Pregnency Related Information:</li><br>
                            </ul>
                            </span>
                        <button style="margin:auto;display: block" type="button" class="btn btn-info"
                                ng-dialog="dashboard/views/dashboardSections/allVisits.html"
                                ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page"
                                ng-dialog-controller="PatientDashboardAllVisitsController" ng-dialog-data="{{dialogData}}">
                            Add Child
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div class="button-wrap">
                            <label class="fa fa-exclamation-triangle fa-red" ng-show="conceptSet.isValid === false"
                                   ng-click="conceptSet.klass =='active' && focusOnErrors()"></label>
                            <label class="fr" ng-click="clonePanelConceptSet(conceptSet)"
                                   ng-if="isLastClonedSection(conceptSet) && conceptSet.canAddMore()"> <i
                                    class="fa fa-plus"></i></label>
                        </div>
                    </li>
                    <li class="emptymsg">{{::'EMPTY_TEMPLATE_MESSAGE' | translate}}</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="concept-set-panel-right-wrap">
        <section class="concept-set-panel-right">
            <ul>
                <li ng-repeat="conceptSet in allTemplates" ng-if="leftPanelConceptSet==conceptSet">
                    <section class="concept-set-group section-grid">
                        <ng-include src="'../common/concept-set/views/conceptSetGroupSection.html'"></ng-include>
                    </section>
                </li>
                <li class="concept-set-panel-no-template" ng-style="{'height': contentHeight.height + 'px'}"></li>
            </ul>
        </section>
    </div>

</div>
<section>
   <button style="margin:3px 18px 3px 722px;display: block;width: 9%"  type="button" class="btn btn-success" ng-click="savingObservation()">Submit</button>
</section>

<section class="concept-set-panel-right" style="width: 78%;float:right;">
    <div>
        <h4 style="text-align: left;padding: 10px;background-color: #dedede;">Visit</h4>
    </div>
    <p ng-show ="emptyVisitsData">No Visits Available</p>
    <table class="visits dashboard-table" id="visitDisplayTable" ng-if="visits.length > 0">
            <tbody>
            <tr>
                <th>Date</th>
                <th>Visit Type</th>

            </tr>
            <tr id="eachVisit" ng-repeat="visit in ::visits | limitTo: params.maximumNoOfVisits">
                <td class="name" width="50%">
                    <a class="visit" ng-click="toogleObservationDetailsViewer('specific',visit)"><span>{{::visit.startDatetime | bahmniDate}}</span>
                        <span ng-if="::!visit.isActive()">- {{::visit.stopDatetime | bahmniDate }}</span>
                        <i class="fa fa-star current-visit-icon" id="currentVisitIcon" ng-if="::visit.isActive()"
                           title="Current Visit"></i>
                    </a>
                </td>
                <td class="value" id="visitType">{{::visit.getVisitType()}}</td>
                 <!--<td><a ng-if="!viewingSpecific" style="cursor: pointer" ng-click="toogleObservationDetailsViewer('specific',visit)">See this</a></td>-->
                 <!--<td><a ng-if="viewingSpecific" style="cursor: pointer" ng-click="toogleObservationDetailsViewer('general',visits)">See all</a></td>-->
            </tr>
            </tbody>
        </table>
    <a ng-if="viewingSpecific" class="visit" ng-click="toogleObservationDetailsViewer('general',visits)" style="text-align: right">See all</a>
    <div>
        <div ng-if="!emptyVisitsData" id="observation-section" ng-repeat="visit in visitDetails" >
            <section class="block observation dashboard-section" id="observationSection">
                <ul bm-gallery access-impression="true"  >
                    <bahmni-observation patient="::patient" visit-uuid="{{visit.uuid}}"
                                        config="visit.detailsConfig"
                                        class="section-title"></bahmni-observation>
                </ul>
            </section>
        </div>
    </div>
</section>
<style>
    .displayNone {
        display: none
    }
</style>
<style>
    @media print {

        /*#consultation-content{
              visibility:visible;
        }*/
        #serviceSection {
            visibility: collapse;
        }

        #patientContext {
            visibility: collapse;
        }

        #opd-tabs {
            visibility: collapse;
        }

        #buttonPrint {
            visibility: collapse;
        }

        .displays {
            visibility: visible;
        }

        .displayNone {
            display: block;
        }

    }
</style>
<script>
    function printMoneyReceipt() {
        var divToPrint = document.getElementById("moneyReceipt");
        mywindow = window.open("");
        var is_chrome = Boolean(mywindow.chrome);
        mywindow.document.write(divToPrint.outerHTML);
        mywindow.document.close();
        if (is_chrome) {
            mywindow.onload = function () { // wait until all resources loaded
                mywindow.print();
                mywindow.close();
            };
        }
        else {
            mywindow.document.close();
            mywindow.focus();
            mywindow.print();
            mywindow.close();
        }
    }
    $(function () {

        $("#txtDate").datepicker({dateFormat: 'dd/mm/yy', changeYear: true, maxDate: new Date}).val();
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;

        $('#txtDate').attr('max', maxDate);
    });
</script>