<style>
    table td, table th {
        padding: 5px 0px 5px 8px;
        border:none;
    }

    table tr {
        border: 0;
        border:none;
    }
    .form .form-field .field-attribute label, form .form-field .field-attribute label {
        width: 10em;
        float: left;
        text-align: right;
        margin: .7em .8em 0 0;
    }


.click-to-edit {
    display: inline-block;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
</style>

<div class="concept-set-panel clearfix">
    <div class="reg-body-wrapper">
        <div class="simple-form-ui new-patient">
            <form name="myForm" class="form-horizontal well" single-submit="create()">
                <div class="box-container box-container-default">
                    <div class="box-container box-container-patient-info patient-common-info-container">
                        <div class="form-field form-field-gender">
                            <section class="form-field form-field-gender">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left;">
                                    <tr>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Clinic Name </label>
                                                </div>

                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field">


                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.orgUnit" type="hidden"  />
                                                        <input ng-model="patientInfo.clinicName" type="text" readonly />
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field" >
                                                <div class="field-attribute">
                                                    <label>Service Point<span class="asterick">*</span></label>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field" >
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <select ng-model="patientInfo.servicePoint" ng-options="servicePoint.name as servicePoint.name for servicePoint in servicePoints" required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Date<span class="asterick">*</span></label>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.moneyReceiptDate" type="date"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Clinic Id</label>
                                                </div>


                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.clinicCode" type="text" readonly/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.servicePoint=='Satellite'">
                                            <article class="form-field" >
                                                <div class="field-attribute">
                                                    <label>Satellite Clinic Id</label>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.servicePoint=='Satellite'">
                                            <article class="form-field" >
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.sateliteClinicId" type="text"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.servicePoint=='Satellite'">
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Team No</span></label>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.servicePoint=='Satellite'">
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.teamNo" type="text"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Slip No<span class="asterick">*</span></label>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.slipNo" type="text" ng-required="true"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field" >
                                                <div class="field-attribute">
                                                    <label>Reference<span class="asterick">*</span></label>
                                                </div>
                                            </article>
                                        </td>
                                        <td>
                                            <article class="form-field" >
                                                <div class="field-value">
                                                    <div class="field-value">
                                                         <select ng-model="patientInfo.reference" ng-options=" reference.name as reference.name for reference in references" ng-required="true">

                                                        </select>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.reference=='External'">
                                            <article class="form-field">
                                                <div class="field-attribute">
                                                    <label>Reference Id</label>
                                                </div>
                                            </article>
                                        </td>
                                        <td ng-show="patientInfo.reference=='External'">
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <input ng-model="patientInfo.referenceId" type="text"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="box-container box-container-default">
                    <div class="box-container box-container-patient-info patient-common-info-container">
                        <div class="form-field form-field-gender">
                            <section class="form-field form-field-gender">
                                <table id="addItemTable" width="100%" border="0" cellpadding="0" cellspacing="0" align="left;">
                                    <tr data-ng-repeat="service in services track by $index">

                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <label>Item<span class="asterick">*</span></label>
                                                        <select ng-model="service.item" ng-change="onChanged(service.item, $index)"
                                                                 ng-options="itm as itm.name for itm in serviceList" ng-required="true">
                                                        </select>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field" >
                                                <div class="field-value">
                                                    <div class="field-value">
                                                         <label>Description<span class="asterick">*</span></label>
                                                        <input ng-model="service.description" style="width: 15em;" type="text" />
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                         <label>Unit Cost<span class="asterick">*</span></label>
                                                        <input ng-model="service.unitCost" style="width: 5em;" type="number"  step="any" ng-required="true" readonly/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <label>Quantity<span class="asterick">*</span></label>
                                                        <input ng-model="service.quantity" ng-change="calculateTotalAmountAndNetPayable(service.quantity,$index)" style="width: 3em;" type="number" min="0" ng-required="true"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field" >
                                                <div class="field-value">
                                                    <div class="field-value">
                                                         <label>Total Amount<span class="asterick">*</span></label>
                                                        <input ng-model="service.totalAmount" style="width: 5em;" type="text"  ng-required="true" readonly/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <label>Discount<span class="asterick">*</span></label>
                                                        <input ng-model="service.discount"  ng-change="calculateNetAmount(service.discount,$index)" style="width: 5em;" type="number" min="0" ng-required="true"/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>

                                        <td>
                                            <article class="form-field">
                                                <div class="field-value">
                                                    <div class="field-value">
                                                        <label>Net Payable Amount<span class="asterick">*</span></label>
                                                        <input ng-model="service.netPayable" style="width: 5em;" type="text"  ng-required="true" readonly/>
                                                    </div>
                                                </div>
                                            </article>
                                        </td>
                                        <td><button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                                            <span><button class="remove" ng-show="$last" ng-click="addNewChoice()">+</button></span>

                                        </td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="submit-btn-container clearfix">
                   <button  style="margin: 10px 20px 0 0"  class="right submit-btn" type="submit" ng-disabled="myForm.$invalid" ng-click="submitMoneyReceiptData(patientInfo,services,patient)" ng-disabled="enable=='false'">

                       <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
            {{ searchButtonText }}

                   </button>

                    <a style="margin: 18px;" href="../clinical/index.html#/default/patient/{{patient.uuid}}/dashboard"  class="right submit-btn" >Cancel</a>
                </div>

            </form>
            <br/>

            <table id="table_id" class="display">
                <thead>
                <tr>
                    <th>Service Code</th>
                    <th>Service/Medicine/Other</th>
                    <th>Description</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total Amount</th>
                    <th>Discount</th>
                    <th>Net Payable Amount</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="service in services">
                    <td>{{service.item.code}} </td>
                    <td>{{service.item.name}} </td>
                    <td>{{service.description}} </td>
                    <td>{{service.unitCost}}</td>
                    <td>{{service.quantity}} </td>
                    <td>{{service.totalAmount}} </td>
                    <td>{{service.discount}}</td>
                    <td>{{service.netPayable}} </td>
                </tr>

                <tr style="border: 1px solid #ddd; background: #699;color: #fff;">
                    <td>Total </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                    <td>{{calTotalAmount()}} </td>
                    <td>{{calTotalDiscount()}}</td>
                    <td>{{calTotalNetAmount()}}</td>
                </tr>
                </tbody>
            </table>
        </div>
       <!-- {{patient}}
        {{services}}
        {{patientInfo}}-->

        <!--<div class="simple-form-ui new-patient">
            <form name="myForm" class="form-horizontal well" single-submit="create()">

            </form>


            &lt;!&ndash;<p>Click the button to open a new window called "MsgWindow" with some text.</p>

            <button onclick="myFunction()">Try it</button>

            <script>
            function myFunction() {
              var myWindow = window.open("", "MsgWindow", "width=200,height=100");
              myWindow.document.write("<p>This is 'MsgWindow'. I am 200px wide and 100px tall!</p>" +
                  "<button>Confirm</button>");
            }
            </script>&ndash;&gt;
        </div>-->
    </div>
    <!--<a class="left-panel-toggle" ng-click="toggleSideBar()">
        <i ng-if="!showLeftpanelToggle()" class="fa fa-bars" aria-hidden="true"></i>
        <i ng-if="showLeftpanelToggle()" class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>

    <section class="concept-set-panel-left" ng-class="{'form-menu-toggeled': showLeftpanelToggle()}" >

        <div class="concept-set-panel-wrap" assign-height key="contentHeight">
            <div class="multi-select-lab-tests">
                <ul>
                    <li ng-repeat="conceptSet in allTemplates track by $index"
                        ng-if="conceptSet.isAvailable(context)  && conceptSet.formValidation(context, conceptSet)"  ng-class="openActiveForm(conceptSet)">
                        <a ng-click="showLeftPanelConceptSet(conceptSet)">
                            <span class="concept-set-name" ng-class="{'concept-set-name-extra':conceptSet.isValid === false}">
                                {{conceptSet.label}}
                                <span ng-if="conceptSet.observations[0].observationDateTime"> ( {{conceptSet.observations[0].observationDateTime|bahmniDate}} )</span>
                            </span>
                        </a>
                        <div class="button-wrap">
                            <label class="fa fa-exclamation-triangle fa-red" ng-show="conceptSet.isValid === false" ng-click="conceptSet.klass =='active' && focusOnErrors()"></label>
                            <label class="fr" ng-click="clonePanelConceptSet(conceptSet)" ng-if="isLastClonedSection(conceptSet) && conceptSet.canAddMore()"> <i class="fa fa-plus"></i></label>
                        </div>
                    </li>
                    <li class="emptymsg">{{::'EMPTY_TEMPLATE_MESSAGE' | translate}}</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="concept-set-panel-right-wrap">
        <section class="concept-set-panel-right">
            <ul>
                <li ng-repeat="conceptSet in allTemplates" ng-if="leftPanelConceptSet==conceptSet">
                    <section class="concept-set-group section-grid" >
                        <ng-include src="'../common/concept-set/views/conceptSetGroupSection.html'"></ng-include>
                    </section>
                </li>
                <li class="concept-set-panel-no-template"  ng-style="{'height': contentHeight.height + 'px'}"> </li>
            </ul>
        </section>
    </div>-->
</div>

<!--
<script>
    $("#add_new").click(function () {
    $("#addItemTable").each(function () {
        var tds = '<tr>';
        jQuery.each($('tr:last td', this), function () {
            tds += '<td>' + $(this).html() + '</td>';
        });
        tds += '</tr>';
        if ($('tbody', this).length > 0) {
            $('tbody', this).append(tds);
        } else {
            $(this).append(tds);
        }
    });
});
</script>-->
