
    <div class="dashboard-patientInformation-section" id="patient_information" ng-if="::isDirectiveReady">
        <section bindonce="patient" class="block patientInformation dashboard-section" ng-class="::{'more': patientSummary.show}">





            <table class="patient dashboard-table">
              <tr class="patient-info">
                <td colspan="3">
                    <span class="patient-img">
                            <img  class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
                        </span>
                        <div class="patient-value">
                             <span class="patient-name">
                                {{::patient.name}} ({{::patient.identifier}})</span> -
                             <span class="patient-gender-age" ng-bind-html="::patientAttributeTypes"></span>
                             <span class="patient-estimated-text" ng-if="::patient.birthdateEstimated"> (est.)</span>
                             <!--<span class="patient-gender-age" ng-show="::patient.birthtime">, {{::(patient["SelectanIDcard"].value.display || patient["SelectanIDcard"].value) | booleanFilter}} : {{::(patient["IDno"].value.display || patient["IDno"].value) | booleanFilter}}</span>-->
                             <span class="patient-birth-time" ng-show="::patient.birthtime">
                                 <span>{{ 'TIME_OF_BIRTH_LABEL'|translate }}</span>
                                 <span ng-bind-html="::patient.birthtime | date:'hh:mm a'"></span>
                             </span>
                            <span style="padding-left:25px"><a ng-click="openEditPatient(patient.uuid)" target="_self" class="title-link">
                            Edit Patient
                        </a></span>
                             <span class="patient-address">
                                {{address(patient.address)}}
                             </span>
                             <i class="ipd-indication fa fa-bed" ng-if="::hasBeenAdmitted"></i>
                         </div>
                </td>





              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr ng-repeat="attribute in config.patientAttributes" ng-if="::patient[attribute]"
                    ng-show="::config.patientAttributes.length" ng-class="attribute">
                    <td class="name">{{::patient[attribute].label}}</td>
                    <td class="value" ng-if="::!patient[attribute].isDateField">{{::(patient[attribute].value.display || patient[attribute].value) | booleanFilter}}</td>
                    <td class="value" ng-if="::patient[attribute].isDateField">{{::patient[attribute].value | bahmniDate}}</td>
                </tr>
                <tr ng-if="::relationships && relationships.length > 0">
                    <td>{{ 'PATIENT_PROFILE_RELATIONSHIPS_LABEL'|translate }}</td>
                </tr>
                <tr ng-repeat="relationship in relationships track by relationship.uuid">
                    <td class="name relationshipType" ng-if="::relationship.personA.uuid === patient.uuid">{{::relationship.relationshipType.aIsToB}}</td>
                    <td class="value" ng-if="::relationship.personA.uuid === patient.uuid">
                        <a ng-click="::openPatientDashboard(relationship.personB.uuid)"
                           title="Go to Clinical Dashboard" ng-if="::!isProviderRelationship(relationship)">
                            {{::relationship.personB.display}}
                        </a>
                        <span ng-if="::isProviderRelationship(relationship)">{{::relationship.personB.display}}</span>
                    </td>
                    <td class="name" ng-if="::relationship.personB.uuid === patient.uuid">{{::relationship.relationshipType.bIsToA}}</td>
                    <td ng-if="::relationship.personB.uuid === patient.uuid" class="value">
                        <a ng-click="::openPatientDashboard(relationship.personA.uuid)"
                           title="Go to Clinical Dashboard">
                            {{::relationship.personA.display}}
                        </a>
                    </td>
                </tr>
                </table></td>
                <td style="text-align: center;"><a href="" ng-click="editMoneyReceipt()" class="title-link">
                            <img  src="./../images/add-Money-Receipt.png" alt="Add Money Receipt" />

                    <p style="text-align: center;">Add Money Receipt</p>

                        </a>




                   <!-- <img id="qrious">
                    <input id="qrvalue" type="hidden" value="{{patient.name}} {{patient.UIC.value}}"/>
-->
                </td>
                  <td><svg class="barcode"
                      jsbarcode-format="CODE39"
                      jsbarcode-value="{{patient.identifier}}"
                      jsbarcode-textmargin="0"
                      jsbarcode-displayValue="false"
                      jsbarcode-width="1"
                      jsbarcode-fontoptions="bold">
                    </svg></td>
              </tr>
            </table>
        </section>
    </div>
<script type="text/ng-template" id="dialog">
    <button  style="float: right;margin-top: 10px;" ng-click="closeDialogs()">Close</button> <button  ng-if="servicesBySlip[0].isComplete == 1" style="float: right;margin-top: 10px;" onclick="printMoneyReceiptBySlipNo()">Print</button>

    <div id="moneyReceiptBySlipNo">
  <table width="900" border="0" align="center" cellpadding="0" cellspacing="0" id="moneyReceipt">
  <tr class="displayNone">
    <td align="left" valign="top"><img src="./../images/logo.jpg" width="162" height="228" /></td>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="displayNone">
    <td colspan="10"><img src="./../images/banner.jpg" width="696" height="146" /></td>
    </tr>
  <tr class="displayNone">
    <td><img src="./../images/blank.png" width="40" height="1" /></td>
    <td><strong>Type:</strong></td>
    <td align="right">Static</td>
    <td><input name="" type="checkbox" disabled ng-checked="checkedBox('Static',servicesBySlip[0].servicePoint)" /></td>
    <td align="right">Satellite</td>
    <td><input name="" type="checkbox" disabled ng-checked="checkedBox('Satellite',servicesBySlip[0].servicePoint)" /></td>
      <td align="right">CSP</td>
    <td><input name="" type="checkbox" disabled ng-checked="checkedBox('CSP',servicesBySlip[0].servicePoint)" /></td><td align="right">Slip No.</td>
    <td align="center" valign="middle">{{servicesBySlip[0].slipNo}}</td>

  </tr>
  <tr class="displayNone">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
    <td align="right">Date:</td>
    <td align="center" valign="middle">{{dateTOString(servicesBySlip[0].moneyReceiptDate) | date:'dd/MM/yyyy HH:mm'}}</td>
  </tr>
    </table>
</td>
  </tr>
  <tr class="displayNone">
      <td colspan="2" align="left" valign="top">
          <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                  <td align="left" style="padding:10px 10px 10px 8px;">UIC</td>
                  <td style="padding:10px 10px 10px 8px;">
                      {{servicesBySlip[0].uic}}
                  </td>
                  <td align="left" valign="top" style="padding:10px 10px 10px 8px;">
                      Health ID
                  </td>
                  <td style="padding:10px 10px 10px 8px;">{{patient.identifier}}</td>
                  <td align="left" valign="top" style="padding:10px 10px 10px 8px;">
                      E-slip No
                  </td>
                  <td style="padding:10px 10px 10px 8px;">{{servicesBySlip[0].eslipNo}}</td>
              </tr>
              <tr>
          </table>
      </td>
  </tr>
  <tr class="displayNone">
    <td colspan="2" align="left" valign="top"><img src="./../images/blank.png" width="100%" height="20" /></td>
  </tr>
  <tr class="displayNone">
    <td colspan="2" align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #666;">
      <tr>
        <td align="left"  style="border-bottom: 1px solid #666; padding:10px 10px 10px 8px;"><strong>Clinic Name:</strong></td>
        <td  style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{servicesBySlip[0].clinicName}}</td>
        <td align="left" valign="top" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Clinic ID</strong></td>
        <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{servicesBySlip[0].clinicCode}}</td>
        <td align="left" valign="top" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Satellite Clinic ID</strong></td>
        <td  style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{servicesBySlip[0].sateliteClinicId}}</td>
        <td align="left" valign="top" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Team no.</strong></td>
        <td  style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"> {{servicesBySlip[0].teamNo}}</td>
      </tr>
      <tr>
        <td colspan="8"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
           <td align="left" colspan="2" valign="top" style="padding:8px;">1. Name:</td>
            <td valign="top" colspan="2" align="left" valign="bottom" style="padding:8px;">{{patient.name}}</td>
            <td align="left" valign="top" style="padding:8px;">2. Gender:</td>
            <td align="left" valign="top" style="padding:8px;"><input name="input" disabled type="checkbox" ng-checked="checkedBox('M',patient.gender)" /></td>
            <td align="left" valign="top" style="padding:8px;">Male</td>
            <td align="left" valign="top" style="padding:8px;"><input name="input2" disabled type="checkbox" ng-checked="checkedBox('F',patient.gender)"/></td>
            <td align="left" valign="top" style="padding:8px;">Female</td>
            <td align="left" valign="top" style="padding:8px;"><input name="input3" disabled type="checkbox" ng-checked="checkedBox('O',patient.gender)" /></td>
            <td align="left" valign="top" style="padding:8px;">Others</td>
          </tr>
          <tr>

            <td align="left" valign="top" style="padding:10px 0 5px 8px;">3. DoB</td>
            <td style="padding:10px 0 5px 8px;">{{dateTOString(servicesBySlip[0].dob) | date:'dd/MM/yyyy'}}</td>
            <td style="padding:10px 0 5px 8px;">4. Age:</td>
            <td style="padding:10px 0 5px 8px;">{{ageFromBirthDate(servicesBySlip[0].dob, servicesBySlip[0].moneyReceiptDate)}}</td>
            <td style="padding:10px 0 5px 8px;">5. Classification:</td>
            <td style="padding:10px 0 5px 8px;">1.  Able to Pay</td>
            <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input4" type="checkbox" ng-checked="checkedBox('Able to Pay',servicesBySlip[0].wealth)"/>
            </span></td>
            <td style="padding:10px 0 5px 8px;">2. Poor</td>
            <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input5" type="checkbox" ng-checked="checkedBox('Poor',servicesBySlip[0].wealth)" />
            </span></td>
            <td style="padding:10px 0 5px 8px;">3.PoP</td>
            <td style="padding:10px 0 5px 8px;"><span style="padding:8px;">
              <input name="input6" type="checkbox" ng-checked="checkedBox('PoP',servicesBySlip[0].wealth)" />

            </span></td>

          </tr>
         <tr>
            <td colspan="2" align="left" valign="top" style="padding:10px 0 5px 8px;">6. Address:</td>
            <td colspan="6" align="left" valign="top" style="padding:10px 0 5px 8px;"> {{address(patient.address)}}</td>
            <td align="left" valign="top" style="padding:10px 0 5px 8px;">7. Mobile No.</td>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;"> {{servicesBySlip[0].contact}}</td>
            </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">8. Session:</td>
            <td align="left" valign="top" colspan="9" style="padding:10px 0 20px 8px;"> {{servicesBySlip[0].session}}</td>
            </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">9. Reference:</td>
            <td align="left" valign="top" colspan="9" style="padding:10px 0 5px 8px;">{{servicesBySlip[0].reference}}  {{referenceId(servicesBySlip[0].reference, servicesBySlip[0].referenceId)}}</td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"  style="padding:10px 0 5px 8px;">10. Birth District</td>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">{{patient.birthDistrict.value}}</td>
            <td align="left" valign="top" style="padding:10px 0 5px 8px;">11. Birth Upazila:</td>
            <td align="left" valign="top" colspan="6" style="padding:10px 0 5px 8px;">{{patient.birthUpazilla.value}}</td>
            </tr>
          <tr>
            <td align="left" valign="top" colspan="2" align="left" valign="top" style="padding:10px 0 20px 8px;">12. Birth Rank:</td>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">{{patient.birthRank.value}}</td>
            <td align="left" valign="top" colspan="2" style="padding:10px 0 5px 8px;">13. Birth Mother's First Name:</td>
            <td align="left" valign="top" colspan="5" style="padding:10px 0 5px 8px;">{{patient.birthMothersFirstName.value}}</td>
          </tr>
        </table></td>
        </tr>
    </table></td>
  </tr>
  <tr class="displayNone">
    <td colspan="2" align="left" valign="top"  style="padding:20px 0 20px 8px;">14. Service and Payable Amount</td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <table width="100%" border="0"  style="border:1px solid #666;" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>SL</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Service Code (A)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Service/Medicine/ Others (B)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Quantity (C)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Unit Cost (D)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Total Amount (E)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;"><strong>Discount (F)</strong></td>
            <td align="center" valign="top" bgcolor="#CCCCCC"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666;"><strong>Net Payable Amount (G)</strong></td>
          </tr>
          <tr ng-repeat="service in servicesBySlip track by $index">
               <td align="left" valign="top"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{$index+1}} </td>
               <td align="left" valign="top"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.code}} </td>
               <td align="left" valign="top"  style="padding:20px 0 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.item}} </td>
               <td align="right" valign="top"  style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.quantity}} </td>
               <td align="right" valign="top"  style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.unitCost}}</td>
               <td align="right" valign="top"  style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.totalAmount}} </td>
               <td align="right" valign="top"  style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.discount}}</td>
               <td align="right" valign="top"  style="padding:20px 8px 20px 8px; border-bottom:1px solid #666; border-right:1px solid #666;">{{service.netPayable}} </td>
           </tr>
            <tr>
            <td colspan="5" align="right" valign="top"  style="padding:10px 10px 10px 0px; border-bottom: 1px solid #666;  border-right:1px solid #666;"><strong>Total Taka</strong></td>
            <td align="right" valign="top"  style="padding:10px 8px 10px 8px; border-bottom: 1px solid #666; border-right:1px solid #666;">&nbsp; {{calTotalAmount()}}</td>
            <td align="right" valign="top"  style="padding:10px 8px 10px 8px; border-bottom: 1px solid #666; border-right:1px solid #666;">&nbsp; {{calTotalDiscount()}}</td>
            <td align="right" valign="top"  style="padding:10px 8px 10px 8px;border-bottom: 1px solid #666;">{{calTotalNetAmount()}} </td>
          </tr>
          <tr>
            <td colspan="8"align="left" valign="top"  style="padding:20px 10px 20px 8px;">In Words (Taka):  {{inwords(calTotalNetAmount())}}</td>
          </tr>

    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top"  style="padding:5px 0 1px 8px;"><img src="image/blank.png" width="1" height="20" /></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr class="displayNone">
 	<td align="center" valign="top"  style="padding:4px 0 5px 8px;">{{servicesBySlip[0].dataCollector}}</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="center" valign="top"  style="padding:4px 0 5px 8px;"> {{servicesBySlip[0].designation}}</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="center" valign="top"  style="padding:4px 0 5px 8px;"></td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    </tr>
     <tr class="displayNone">
 	<td align="center" valign="top"  style="padding:4px 0 5px 8px; border-top:1px solid #666;">Name of data collector</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="center" valign="top"  style="padding:4px 0 5px 8px; border-top:1px solid #666;">Designation</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="center" valign="top"  style="padding:4px 0 5px 8px; border-top:1px solid #666;">Signature</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
    <td align="left" valign="top"  style="padding:4px 0 5px 8px;">&nbsp;</td>
  </tr>
</table>
</td>
  </tr>
</table>
    </div>




  </script>

<div class="dashboard-patientInformation-section">
    <div>
         <h3 style="background: #ddd;height:37px;padding-top: 6px;color: #000">Service history</h3>
    </div>

<table style="padding-top: 10px;" id="table_id" class="display">
                            <thead>

                                <tr>

                                    <th colspan="2" align="left" valign="top">Slip No:<input style="margin-left: 8px;" type="text" id="search-date" placeholder="search by slipNo"></th>
                                    <th colspan="2" align="left" valign="top">E-Slip No:<input style="margin-left: 8px;" type="text" id="search-eslip" placeholder="search by E-slipNo"></th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>


                                <tr>
                                    <th>Date</th>
                                    <th>Slip No</th>
                                    <th>E-Slip No</th>
                                    <th>Code</th>
                                    <th>Service Name</th>
                                  <!--  <th>Description</th>-->
                                    <th>Unit Cost</th>
                                    <th>Quantity</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>Net Payable Amount</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                               <tr ng-repeat="service in services track by $index | orderBy: '-moneyReceiptDate'">
                                    <td><span ng-hide="true">{{service.moneyReceiptDate}}</span>{{dateTOString(service.moneyReceiptDate) | date:'dd/MM/yyyy'}}</td>
                                    <td>{{service.slipNo}} </td>
                                   <td>{{service.eslipNo}} </td>
                                     <td>{{service.code}} </td>
                                    <td>{{service.item}} </td>
                                   <!-- <td>{{service.description}} </td>-->
                                    <td>{{service.unitCost}}</td>
                                    <td>{{service.quantity}} </td>
                                    <td>{{service.totalAmount}} </td>
                                    <td> {{service.discount}}</td>
                                    <td>{{service.netPayable}} </td>
                                    <td ng-hide="services[$index-1].mid == service.mid && services[$index-1].moneyReceiptDate == service.moneyReceiptDate"><button style="padding:5px 6px 8px" ng-click="confirmationPrompt(service.mid, service.moneyReceiptDate)"><i class='fa fa-print'></i>Print preview</button>
                                    <button ng-if="service.isComplete==0 && service.validMoneyReceiptHolder"style="padding:5px 9px 8px" ng-click="editMoneyReceipt(service.mid)"> <i class='fa fa-edit'></i>Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

</div>

<script type="text/javascript">

//var $jq = jQuery.noConflict();

$(document).ready(function () {
    setTimeout(function () {
        JsBarcode(".barcode").init();
//        var table = $('#table_id').DataTable({
//                language: {
//                    emptyTable: "no service available", //
//                    loadingRecords: "Please wait .. ", // default Loading...
//                    zeroRecords: "No matching service found"
//                },
//                bFilter: true,
//                bInfo: false,
//                "order": [[0, "desc"]]
//            }
//        );

//        $('#search-date').on('keyup', function () {
//            table
//                .column(1)
//                .search(this.value)
//                .draw();
//        });

    }, 2000);

});


</script>
    <style>

        .ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
    width: 800px;
}
.ngdialog.ngdialog-theme-default.custom-width-1000 .ngdialog-content {
    width: 1000px;
}
    </style>

    <script>


 function printMoneyReceiptBySlipNo() {
    var divToPrint = document.getElementById("moneyReceiptBySlipNo");
    mywindow = window.open("");
    var is_chrome = Boolean(mywindow.chrome);
    mywindow.document.write(divToPrint.outerHTML);
    mywindow.document.close();
    if (is_chrome) {
     mywindow.onload = function () { // wait until all resources loaded
         mywindow.print();
         mywindow.close();
     };
    }
    else {
     mywindow.document.close();
     mywindow.focus();
     mywindow.print();
     mywindow.close();
    }
}
</script>