<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Birth Certificate</title>
<style>
td {
	padding: 10px;
}
</style>
</head>

<body>

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
      <td>
          <img   id="barcode" jsbarcode-value="{{patient.identifier}}" />
          <img style="margin-left: 150px;" src="./../images/logo.png" width="" height=""  alt=""/>
         </td>
    <!--<td align="left" valign="top"><img src="./../images/logo.png" width="" height=""  alt=""/></td>-->
  </tr>
  <tr>
    <td align="center"  valign="top"><h1 style="margin:1px;">Birth Certificate</h1></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px dashed #000000;">
        <tr>
          <td width="19%" style="border-right:1px dashed #000000;"> Registration No:</td>
          <td width="32%" style="border-right:1px dashed #000000;">&nbsp;{{patient.identifier}}</td>
          <td width="9%" style="border-right:1px dashed #000000;"> Date:</td>
          <td width="40%">{{currentDate | date : "dd/MM/yyyy"}}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>
    	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px dashed #000000;">
              <tr>
                <td style="    padding-bottom: 1px;"> <h2 style="margin:0;">It is our pleasure to certify that-</h2></td>
              </tr>
              <tr>
    <td><table width="100%" border="0">
        <tr>
          <td width="27%" style="border:1px dashed #000000;">Mother’s name: </td>
          <td width="73%" style="border-top:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient.name}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">Father’s Name:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient['Spouse/FathersName'].value}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">Address:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{address(patient.address)}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">Union/ Municipality/ Ward no:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient.address.cityVillage}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">Upazila/ City Corporation:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient.address.address3}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">District:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient.address.countyDistrict}}</td>
        </tr>
        <tr>
          <td style="border-left:1px dashed #000000; border-right:1px dashed #000000; border-bottom:1px dashed #000000;">Division:</td>
          <td style="border-right:1px dashed #000000; border-bottom:1px dashed #000000;">&nbsp;{{patient.address.stateProvince}}</td>
        </tr>
        <tr>
          <td colspan="2" style="line-height: 30px;">Has delivered a {{birhDataList['Sex']}} baby on the <span style=" color:#999"> {{dateConversion(birhDataList['Delivery Note, Delivery date and time']) | date : "dd/MM/yyyy"}}</span> (English)  at {{dateConversion(birhDataList['Delivery Note, Delivery date and time']) | date : "shortTime"}} in our Surjer Hashi Clinic.  The Baby was weighing {{birhDataList['Baby Weight (Kg)']}} kilogram and length {{birhDataList['Newborn Length (cm)']}} centimeter at birth. We wish a healthy life for the newborn. </td>
        </tr>
      </table></td>
  </tr>
            </table>

    </td>
  </tr>

  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px dashed #000000;">
        <tr>
          <td width="35%" style="border-right:1px dashed #000000; padding-top: 30px;"><span style="border-top: 1px dashed #000000;">Signature of Medical Officer</span></td>
          <td width="23%" style="border-right:1px dashed #000000;"><img src="./../images/blank_birthcertificate.png" width="1" height="1"  alt=""/></td>
          <td width="42%" style=" padding-top: 30px;"><span style="border-top: 1px dashed #000000">Signature of Clinic Manager</span></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><img src="./../images/blank_birthcertificate.png" width="1" height="1"  alt=""/></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px dashed #000000;">
        <tr>
          <td width="35%" style="border-right:1px dashed #000000;"><img src="./../images/usaid.png" width="139" height="41"  alt=""/></td>
          <td width="23%" style="border-right:1px dashed #000000;"><img src="./../images/blank_birthcertificate.png" width="1" height="1"  alt=""/></td>
          <td width="42%" align="right" style="border-right:1px dashed #000000;"><img src="./../images/shurjerhashi.png" width="252" height="41"  alt=""/></td>
        </tr>
      </table></td>
  </tr>
</table>
<script src="../lib/JsBarcode.all.min.js"></script>
<script>
    (function() {
        JsBarcode("#barcode").init();
    })();
</script>
</body>
</html>
