<style>

table th, table td {
    padding: 5px 10px;
    border: none !important;
    /* border: 1px solid #ddd; */
}

table tr td {
    white-space: nowrap;
}

</style>

<section class="visits-navbar-section">
    <div visit-paginator next-fn="::loadVisit" previous-fn="::loadVisit" current-visit-uuid="::visitUuid"
         visits="::visitHistory.visits"
         visit-summary="::visitSummary">
    </div>
</section>

<div ng-if="::(!clearBoard)">
<img ng-if="isBeingPrinted"  id="barcode"
  jsbarcode-value="{{patient.identifier}}" />
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left"  style="border-bottom: 1px solid #666; padding:10px 10px 10px 8px;"><strong>Name:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{patient.name}}</td>
            <td align="left" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Gender:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;" ng-if="patient.gender == 'M'">Male</td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;" ng-if="patient.gender == 'F'">Female</td>
            <td align="left" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"><strong>Age:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;" colspan="2">{{ageCalculate}}</td>
            <td align="left" style="border-bottom:1px solid #666;"><strong>Date:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{currentDate | date : "dd/MM/yyyy"}}</td>
        </tr>
        <tr>
            <td align="left" style="border-bottom:1px solid #666;"><strong>UIC:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{patient.UIC.value}}</td>
            <td align="left" style="border-bottom:1px solid #666;"><strong>Clinic Name:</strong></td>
            <td colspan="3" style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{patient.ClinicName.value}}</td>
            <td align="left" style="border-bottom:1px solid #666;"><strong>Health ID:</strong></td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;">{{patient.identifier}}</td>
            <td style="border-bottom:1px solid #666;padding:10px 10px 10px 8px;"></td>
        </tr>
    </table>
    <div style="margin-top: 25px;"></div>
    <div ng-repeat="section in visitTabConfig.currentTab.sections">
        <div ng-switch="section.type">
            <!--<div ng-switch-when="patientInformation">-->
                <!--<section class="block dashboard-section" ng-if="::section.config">-->
                    <!--<patient-profile patient-uuid="{{::patient.uuid}}"-->
                                     <!--visit-uuid="{{::visitSummary.uuid}}"-->
                                     <!--config="::section.config"-->
                    <!--&gt;</patient-profile>-->
                <!--</section>-->
            <!--</div>-->
            <div class="content-block" ng-switch-when="observation">
                <div ng-if="::section.config" id="observation-section">
                    <section class="block observation dashboard-section" id="observationSection">
                        <ul bm-gallery access-impression="true">
                            <bahmni-observation patient="::patient" visit-uuid="{{::visitUuid}}"
                                                config="::section.config"
                                                section-title="::section | titleTranslate"
                                                class="section-title"></bahmni-observation>
                        </ul>
                    </section>
                </div>
            </div>
            <div ng-switch-when="diagnosis">
                <section ng-if="::section.config && !isBeingPrinted" class="block dashboard-section">
                    <bahmni-diagnosis patient-uuid="::section.config.patientUuid"
                                      config="::section.config" visit-uuid="::visitUuid" show-latest-diagnosis=
                                              "true"></bahmni-diagnosis>
                </section>
            </div>
            <!--<div ng-switch-when="pivotTable">-->
                <!--<div ng-if="::section.config">-->
                    <!--<section pivot-table visit-uuid="::visitUuid" config="::section.config"-->
                             <!--patient-uuid="::patient.uuid" display-name="::section | titleTranslate"></section>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div data-ng-switch-when="investigationResult">-->
                <!--<div ng-if="::section.config">-->
                    <!--<investigation-results-->
                            <!--params="::section.config"></investigation-results>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div data-ng-switch-when="radiology">-->
                <!--<div id="Radiology" ng-if="::section.config"-->
                         <!--class="dashboard-radiology-section">-->
                    <!--<bm-documents patient="::patient" config="::section.config"-->
                                  <!--encounter-type="'RADIOLOGY'"></bm-documents>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div data-ng-switch-when="patientFiles">-->
                <!--<div id="Patient-Files" ng-if="section.config && !isBeingPrinted" class="dashboard-radiology-section">-->
                    <!--<bm-documents patient="::patient" config="::section.config"-->
                                  <!--encounter-type="'Patient Document'"></bm-documents>-->
                <!--</div>-->
            <!--</div>-->
            <div class="content-block" data-ng-switch-when="treatment">
                <div ng-if="::section.config">
                    <treatment-data id="visit-treatments" params="::section.config"
                                    visit-summary="visitSummary"></treatment-data>
                </div>
            </div>

            <div class="content-block" data-ng-switch-when="order">
                <div class="content-block">
                    <orders-control visit-uuid="::visitUuid" patient="patient" section="section.config"
                                    order-type="section.config.orderType" config="section.config"
                                    show-title="true" section-title="section | titleTranslate"></orders-control>
                </div>
            </div>
            <div data-ng-switch-when="investigationResult">
                <div ng-if="::section.config && !isBeingPrinted">
                    <investigation-results
                            params="::section.config"></investigation-results>
                </div>
            </div>
    </div>
</div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            JsBarcode("#barcode").init();
        }, 1000);
    });
//var $jq = jQuery.noConflict();


</script>