<html>
<head>
    <title>.</title>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="print"/>
</head>
<body>
    <div class="print-wrapper print-patient-summary">
        <div class="print-header" style="float: right">
            <h1>
                <img src="./../images/prescriptionLogo.jpg" width="300" height="100" /></h1><img>
        </div>
        <div ng-include="currentVisitUrl"></div>
    </div>
</br>
    <div class="print-wrapper print-patient-summary" style="float: right">
        <label><u>Service Provider Name and Signature :</u></label>
    </div>

<footer>
    <div class="footer" style="margin-top: 100px;">
         <img src="./../images/footer-logo-prescription.png"  width="250" height="35" />
        <p> This is a software generated prescription</p>
    </div>
</footer>


</body>

</html>