 <style scoped>
     .button-success,
     .button-error,
     .button-warning,
     .button-secondary {
         color: #fff;
         border-radius: 4px;
         text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
     }

     .button-success {
         background: rgb(28, 184, 65); /* this is a green */
     }

     .button-error {
         background: rgb(202, 60, 60); /* this is a maroon */
     }

     .button-warning {
         background: rgb(223, 117, 20); /* this is an orange */
     }

     .button-secondary {
         background: rgb(66, 184, 221); /* this is a light blue */
     }
     .button-success:hover {background-color: #3e8e41 !important;}
     .button-error:hover {background-color: rgb(202, 60, 60); !important}
    </style>
<div class="ngdialog-message">
    <h2 class="confirmation-title"><i class="fa fa-exclamation-triangle orange"></i> Are you sure?</h2>
    <span>Similar patient found. Do you want to continue?</span>
    </div>
    <div class="ngdialog-buttons" style="text-align: right;">
        <button type="button" class="button-success pure-button" ng-click="confirm(confirmValue)">Continue Anyway</button>
        <button type="button" class="button-error pure-button" ng-click="closeThisDialog()">Cancel</button>
    </div>
