  <div ng-controller="PatientCommonController">
    <div class="box-container box-container-patient-info patient-common-info-container">
        <section>
            <article class="form-field patient-name-wrapper">
                <div class="field-attribute">
                    <label for="patientName">{{ ::'REGISTRATION_LABEL_PATIENT_NAME' | translate}}<span class="asterick">*</span></label>
                </div>

                <div class="field-value patient-name" id="patientName">

              <span data-ng-switch="::isAutoComplete('givenName')"
                    ng-if="::patientConfiguration.local()['showNameField']">
                  <input data-ng-switch-when="true"
                         type="text" id="givenName" ng-model="$parent.patient.givenName" non-blank pattern-validate
                         my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                         data-item-type="personName"
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}" ng-change="handleUpdate('givenName')">

                  <input data-ng-switch-default
                         type="text" id="givenName" ng-model="patient.givenName" non-blank pattern-validate
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}" ng-change="handleUpdate('givenName')">
              </span>

              <span data-ng-switch="::isAutoComplete('givenName')"
                    ng-if="::!patientConfiguration.local()['showNameField']">
                  <input data-ng-switch-when="true"
                         type="text" id="givenName" ng-model="$parent.patient.givenName" non-blank pattern-validate
                         my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                         data-item-type="personName"
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}" focus-me="true">

                  <input data-ng-switch-default
                         type="text" id="givenName" ng-model="patient.givenName" non-blank pattern-validate
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}" focus-me="true">
              </span>

              <span ng-show="::showMiddleName" data-ng-switch="::isAutoComplete('middleName')">
                  <input data-ng-switch-when="true"
                         type="text" id="middleName" ng-model="$parent.patient.middleName" pattern-validate
                         my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                         data-item-type="personName"
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_MIDDLE_NAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_MIDDLE_NAME' | translate}}">

                  <input data-ng-switch-default
                         type="text" id="middleName" ng-model="patient.middleName" pattern-validate
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_MIDDLE_NAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_MIDDLE_NAME' | translate}}">
              </span>

              <span ng-show="::showLastName" data-ng-switch="::isAutoComplete('familyName')">
                  <input data-ng-switch-when="true"
                         type="text" id="familyName" ng-model="$parent.patient.familyName"  pattern-validate
                         my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                         data-item-type="personName"
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_LAST_NAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_LAST_NAME' | translate}}" ng-required="::isLastNameMandatory">

                  <input data-ng-switch-default
                         type="text" id="familyName" ng-model="patient.familyName"  pattern-validate
                         placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_LAST_NAME' | translate}}"
                         title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_LAST_NAME' | translate}}" ng-required="::isLastNameMandatory">
              </span>

                    <!--<span class="input-label-inline caste-lastname" ng-show="showCasteSameAsLastName()">
                        <input type="checkbox" id="casteSameAsLastNameCheck" ng-model="patient.sameAsLastName"
                               ng-change="setCasteAsLastName()">
                        <label id="casteSameAsLastNameCheckLabel" for="casteSameAsLastNameCheck">{{ 'REGISTRATION_LABEL_CASTE_SAME_LAST_NAME' | translate}}</label>
                    </span>-->
                </div>
                <div class="field-value showOn-desktop" ng-show="::showCasteSameAsLastName()">
                    <input type="checkbox" id="casteSameAsLastNameCheck" ng-model="patient.sameAsLastName"
                           ng-change="setCasteAsLastName()">
                </div>
                <div class="field-attribute" ng-show="::showCasteSameAsLastName()">
                    <label id="casteSameAsLastNameCheckLabel" for="casteSameAsLastNameCheck">{{::'REGISTRATION_LABEL_CASTE_SAME_LAST_NAME'
                        | translate}}</label>
                </div>
                <div class="field-value showOn-small-screen" ng-show="::showCasteSameAsLastName()">
                    <input type="checkbox" id="casteSameAsLastNameCheck" ng-model="patient.sameAsLastName"
                           ng-change="setCasteAsLastName()">
                </div>
            </article>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field">
                <div class="field-attribute">
                    <label>Birth Mother's First Name<span class="asterick">*</span></label>
                </div>

                <div class="field-value">
                    <div class="field-value">
                        <input type=text ng-model="patient.birthMothersFirstName" ng-change="handleUpdate('birthMothersFirstName')" ng-required="true">
                    </div>
                </div>
            </article>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field">
                <div class="field-attribute">
                    <label>Birth Rank<span class="asterick">*</span></label>
                </div>

                <div class="field-value">
                    <div class="field-value">
                        <input type=text ng-model="patient.birthRank" ng-change="handleUpdate('birthRank')" ng-required="true">
                    </div>
                </div>
            </article>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field">
                <div class="field-attribute">
                    <label>Birth District<span class="asterick">*</span></label>
                </div>

                <div class="field-value">
                   <!-- <select ng-options="row.districtName for row in locationDistricts track by $index"
                            ng-change="getBirthUpazilla(patient.birthDistrict); handleUpdate('birthDistrict')" ng-model="patient.birthDistrict">
                    </select>-->

                    <select ng-model="patient.birthDistrict" ng-change="getBirthUpazilla(patient.birthDistrict); handleUpdate('birthDistrict')"
                            data-ng-options="blisterPackTemplate as blisterPackTemplate.districtName for blisterPackTemplate in locationDistricts" ng-required="true">
                      <option value="">Select Birth District</option>
                    </select>
                </div>
            </article>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field">
                <div class="field-attribute">
                    <label>Birth Upazilla<span class="asterick">*</span></label>
                </div>
                <div class="field-value">
                    <select ng-model="patient.birthUpazilla" ng-change="handleUpdate('birthUpazilla')"
                            data-ng-options="blisterPackTemplate as blisterPackTemplate.upazillaName for blisterPackTemplate in locationDUpazilla" ng-required="true">
                      <option value="">Select Birth Upazilla</option>
                    </select>

                   <!-- <select ng-options="row for row in locationDUpazilla track by $index"
                            ng-change="handleUpdate('birthUpazilla')" ng-model="patient.birthUpazilla">
                        <option value="">Select Birth Upazilla</option>
                    </select>-->
                </div>
            </article>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field">
                <div class="field-attribute">
                    <label for="gender">{{ ::'REGISTRATION_LABEL_GENDER' | translate}} <span
                            class="asterick">*</span></label>
                </div>

                <div class="field-value">
                    <select  id="gender" ng-model="patient.gender" required="required" title="{{ 'REGISTRATION_LABEL_SELECT_GENDER'|translate }}"
                            ng-options="genderMap[genderCode] for genderCode in {{ getGendersToDisplay() }} track by genderCode" ng-change="handleUpdate('gender')">
                        <option value="">{{ ::'REGISTRATION_LABEL_SELECT_GENDER' | translate}}</option>
                    </select>
                </div>
            </article>
        </section>

        <section class="age-wrapper">
            <ng-include src="'views/dob.html'"></ng-include>
        </section>

       <!-- <section class="form-field form-field-gender">
            <article class="form-field right-form-field" ng-class="::{'right-form-field' : true}">
                <div class="field-attribute">
                    <label>Tentative Age<span class="asterick">*</span></label>
                </div>
                <div class="field-value">
                    <div class="field-value">
                        <input type=date ng-model="patient.tentativeAge">
                    </div>
                </div>
            </article>
        </section>-->

        <section class="age-wrapper">
            <ng-include src="'views/age.html'"></ng-include>
        </section>

        <section class="form-field form-field-gender">
            <article class="form-field right-form-field" ng-class="::{'right-form-field' : true}">
                <div class="field-attribute">
                    <label>UIC<span class="asterick">*</span></label>
                </div>

                <div class="field-value">
                    <div class="field-value">
                        <input type=text ng-model="patient.uic" id="UIC" readonly required="required">
                    </div>
                </div>
            </article>
        </section>

<!--        <section class="form-field form-field-gender">
            <article class="form-field right-form-field" ng-class="::{'right-form-field' : true}">
                <div class="field-attribute">
                    <label>System Generated Id</label>
                </div>

                <div class="field-value">
                    <div class="field-value">
                        <input type=text ng-model="patient.generatedId">
                    </div>
                </div>
            </article>
        </section>-->

        <legend class="registraion_legend">
            <span class="mylegend"> {{ ::'REGISTRATION_LABEL_ADDRESS_INFO' | translate}}</span>
        </legend>

        <section address-fields data-address-levels="::addressLevels" data-address="patient.address"
                 field-validation="::fieldValidation"
                 strict-autocomplete-from-level="::addressHierarchyConfigs.strictAutocompleteFromLevel"
                 ng-if="::!addressHierarchyConfigs.showAddressFieldsTopDown"></section>

        <section top-down-address-fields data-address-levels="::addressLevels" data-address="patient.address"
                 field-validation="::fieldValidation" ng-if="::addressHierarchyConfigs.showAddressFieldsTopDown"
                 strict-autocomplete-from-level="::addressHierarchyConfigs.strictAutocompleteFromLevel"></section>

        <legend class="registraion_legend" ng-if="patientConfiguration.customAttributeRows().length > 0">
            <span class="mylegend"> {{ ::'REGISTRATION_LABEL_OTHER_INFO' | translate}}</span>
        </legend>

        <section id="otherInfo"  class="form-field-inline clearfix"
                 ng-repeat="attributeRow in ::patientConfiguration.customAttributeRows()">
            <article class="form-field" ng-repeat="attribute in ::attributeRow"
                     ng-class="::{'right-form-field' : $index%2 != 0}">
                <!--<div ng-if="isAditionalInfo(attribute.name)">-->
                <span>
                    <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                 is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                 get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                </span>
               <!-- </div>-->
            </article>
        </section>
    </div>
    </div>
</div>